<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>football</title>
  {% load static %}

  <!-- Custom fonts for this theme -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->
  <link href="{% static 'css/freelancer.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">TOP TEAM PREMIER LEAGUE </a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Portfolio</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/developer">Developer</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column"></div>

      <!-- Masthead Avatar Image -->
      <img class="masthead-avatar mb-5" src="static/img/preme.png" alt="">

      <!-- Masthead Heading -->
      <h1 class="masthead-heading text-uppercase mb-0">premier league</h1>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Masthead Subheading -->
      <p class="masthead-subheading font-weight-light mb-0">England</p>

    </div>
  </header>

  <!-- Portfolio Section -->
  <section class="page-section portfolio" id="portfolio">
    <div class="container">

      <!-- Portfolio Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Top 6 premier league </h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Portfolio Grid Items -->
      <div class="row">

        <!-- Portfolio Item 1 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="static/img/portfolio/cel.png" alt="">
          </div>
        </div>

        <!-- Portfolio Item 2 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="static/img/portfolio/ar.jpg" alt="">
          </div>
        </div>

        <!-- Portfolio Item 3 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="static/img/portfolio/liver.png" alt="">
          </div>
        </div>

        <!-- Portfolio Item 4 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="static/img/portfolio/mancity.png" alt="">
          </div>
        </div>

        <!-- Portfolio Item 5 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="static/img/portfolio/manu.png" alt="">
          </div>
        </div>

        <!-- Portfolio Item 6 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="static/img/portfolio/tot.jpg" alt="">
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
  </section>

  <!-- About Section -->
  <section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">

      <!-- About Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-white">Premier League History</h2>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- About Section Content -->
      <div class="row">
        <div class="col-lg-4 ml-auto">
          <p class="lead">พรีเมียร์ลีก (อังกฤษ: Premier League) เป็นระบบการแข่งขันฟุตบอลลีกในระดับสูงสุดของประเทศอังกฤษ ก่อตั้งในปี พ.ศ. 2535 (ค.ศ. 1992) ภายใต้การบริหารของสมาคมฟุตบอลอังกฤษ การแข่งขันพรีเมียร์ลีกเป็นที่รวมของ 20 สโมสรฟุตบอลในระดับสูงสุดของอังกฤษเข้าด้วยกัน ซึ่งเป็นลีกที่มีการแข่งขันสูงและสูสีมากที่สุดแห่งหนึ่งของยุโรป แล้วเป็นลีกที่ได้รับความนิยมอันดับหนึ่งจากแฟนบอลทั่วโลก
              โดยปัจจุบันมีเพียง 6 ทีมเท่านั้น ที่ชนะเลิศ ในการแข่งขันรายการนี้ ได้แก่ แมนเชสเตอร์ยูไนเต็ด 13 สมัย, เชลซี 5 สมัย, แมนเชสเตอร์ซิตี 4 สมัย, อาร์เซนอล 3 สมัย และแบล็กเบิร์นโรเวอส์และเลสเตอร์ซิตี ทีมละ 1 สมัย</p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="lead">
              <br>ประเทศ	 อังกฤษ (20 ทีม)
              <br>สมาพันธ์	ยูฟ่า
              <br>ก่อตั้ง	20 กุมภาพันธ์ 1992; 27 ปีก่อน
              <br>จำนวนทีม	20
              <br>ระดับในพีระมิด	1
              <br>ตกชั้นสู่	อีเอฟแอลแชมเปียนชิป
              <br>ถ้วยภายในประเทศ	เอฟเอคัพ
              <br>เอฟเอคอมมิวนิตีชีลด์
              <br>ถ้วยระดับลีก	อีเอฟแอลคัพ
              <br>ถ้วยระดับนานาชาติ	ยูฟ่าแชมเปียนส์ลีก
              <br>ยูฟ่ายูโรปาลีก
              <br>ทีมชนะเลิศปัจจุบัน	แมนเชสเตอร์ซิตี (4 สมัย)(2018–19)
              <br>ชนะเลิศมากที่สุด	แมนเชสเตอร์ยูไนเต็ด (13 สมัย)</p>
        </div>
      </div>

      <!-- About Section Button -->

    </div>
  </section>

  <footer class="footer text-center">
      <div class="container">
        <div class="row">
  
            {% csrf_token %}
            {% for s in services %}
          <div class="col-lg-3 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">{{ s.name }} {{s.lname}}</h4>
            <p class="lead mb-0">{{ s.email }}
              <br>{{ s.comments }}</p>
          </div>
          {% endfor %}
  
        </div>
      </div>
    </footer>
  

  <!-- Contact Section -->
  <section class="page-section" id="contact">
    <div class="container">

      <!-- Contact Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Me</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Contact Section Form -->
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
          <form name="sentMessage" action="" method="POST" id="contactForm" novalidate="novalidate">
              {% csrf_token %}
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Name</label>
                <input class="form-control" id="name" type="text" placeholder="Name" required="required" data-validation-required-message="Please enter your name." name="name">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Email Address</label>
                <input class="form-control" id="email" type="text" placeholder="Last name" required="required" data-validation-required-message="Please enter your email address." name="lname">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Phone Number</label>
                <input class="form-control" id="phone" type="email" placeholder="Email Address" required="required" data-validation-required-message="Please enter your phone number." name="email">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>Email Address</label>
                  <input class="form-control" id="email" type="text" placeholder="Last name" required="required" data-validation-required-message="Please enter your email address." name="comments">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Send</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </footer>

  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      
    </div>
  </section>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- Portfolio Modals -->

  <!-- Portfolio Modal 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Chelsea</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="static/img/portfolio/cel.png" alt="">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">สโมสรฟุตบอลเชลซี เป็นสโมสรฟุตบอลอาชีพที่ตั้งอยู่ในเขตฟูลัม, ลอนดอน ซึ่งเล่นอยู่ในพรีเมียร์ลีก ลีกสูงสุดของฟุตบอลอังกฤษ สโมสรฟุตบอลเชลซีก่อตั้งขึ้นเมื่อวันที่ 10 มีนาคม ค.ศ. 1905
                    <br>ชื่อเล่น: The Blues, The Pensioners
                    <br>สนามกีฬา/สเตเดียม: สนามกีฬาสแตมฟอร์ดบริดจ์
                    <br>ผู้จัดการ: แฟรงก์ แลมพาร์ด
                    <br>เจ้าของ: โรมัน อับราโมวิช
                    <br>ที่ตั้ง: เชลซี, ลอนดอน, สหราชอาณาจักร</p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 2 -->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Arsenal</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="static/img/portfolio/ar.jpg" alt="">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">สโมสรฟุตบอลอาร์เซนอล (อังกฤษ: Arsenal Football Club) เป็นสโมสรฟุตบอลที่เล่นในพรีเมียร์ลีก จากย่านฮอลโลเวย์ ในกรุงลอนดอน เป็นสโมสรฟุตบอลที่ประสบความสำเร็จมากที่สุดแห่งหนึ่งในฟุตบอลอังกฤษ ครองแชมป์ลีกสูงสุดของอังกฤษ 13 ครั้งและเอฟเอคัพ 13 ครั้ง อีกทั้งยังเป็นเจ้าของสถิติผู้เข้าชิงชนะเลิศในเอฟเอคัพมากที่สุด คือ 20 ครั้ง[4] และยังเป็นแชมป์เอฟเอคัพมากที่สุด[5] อาร์เซนอลถือสถิติร่วม โดยอยู่ในลีกสูงสุดของอังกฤษยาวนานที่สุดโดยไม่ตกชั้น และติดอยู่อันดับ 1 ของผลรวมอันดับในลีก ของทั้งศตวรรษที่ 20[6] และเป็นทีมที่ 2 ที่จบการแข่งขันฤดูกาลในลีกสูงสุดของอังกฤษโดยไม่แพ้ทีมไหน (ในฤดูกาล 2003–04) เป็นทีมเดียวที่ไม่แพ้ใครทั้ง 38 นัด
                    <br> ชื่อเต็ม	สโมสรฟุตบอลอาร์เซนอล
                    <br>ฉายา	The Gunners ไอ้ปืนใหญ่, ปืนใหญ่
                    <br>ก่อตั้ง	1886 ตุลาคม; 133 ปีที่แล้ว ในชื่อ ไดอัลสแควร์[1]
                    <br> สนาม	เอมิเรตส์สเตเดียม
                    <br>ความจุ	60,260[2]
                    <br>  เจ้าของ	โครเอนเกสปอตส์แอนด์เอนเตอร์เทนเมนต์[3]
                    <br>ประธาน	เซอร์ ชิปส์ เคสวิก
                    <br> หัวหน้าผู้ฝึกสอน	อูไน เอเมรี
                    <br>   ลีก	พรีเมียร์ลีก
                </p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 3 -->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="portfolioModal3Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Liverpool</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="static/img/portfolio/liver.png" alt="">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">สโมสรฟุตบอลลิเวอร์พูล (อังกฤษ: Liverpool Football Club) เป็นสโมสรฟุตบอลอาชีพตั้งอยู่ที่เมืองลิเวอร์พูล, อังกฤษ แข่งขันอยู่ในพรีเมียร์ลีก ลีกสูงสุดของอังกฤษ โดยลิเวอร์พูลชนะเลิศ ยูโรเปียนคัพ 6 ครั้ง, ยูฟ่าคัพ 3 ครั้ง, ยูฟ่าซูเปอร์คัพ 4 ครั้ง, ลีกสูงสุด 18 ครั้ง, เอฟเอคัพ 7 ครั้ง, ลีกคัพ 8 ครั้ง, เอฟเอคอมมิวนิตีชีลด์ 15 ครั้ง และ ฟุตบอลลีกซูเปอร์คัพ 1 ครั้ง พรีเมียร์ลีก 0 ครั้ง
                    <br>ชื่อเต็ม	สโมสรฟุตบอลลิเวอร์พูล
                    <br> ฉายา	The Reds
                    <br>หงส์แดง (ฉายาในประเทศไทย)
                    <br> ก่อตั้ง	3 มิถุนายน ค.ศ. 1892 (127 ปี)[1]
                    <br> สนาม	แอนฟีลด์
                    <br> ความจุ	53,394[2]
                    <br> เจ้าของ	เฟนเวย์ สปอร์ต กรุป
                    <br> ประธาน	ทอม วอร์เนอร์
                    <br> ผู้จัดการ	เยือร์เกิน คล็อพ
                    <br> ลีก	พรีเมียร์ลีก
                    <br> 2018–19	พรีเมียร์ลีก, อันดับที่ 2
                </p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 4 -->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-labelledby="portfolioModal4Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Manchester City </h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="static/img/portfolio/mancity.png" alt="">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">สโมสรฟุตบอลแมนเชสเตอร์ซิตี (อังกฤษ: Manchester City Football Club) เป็นสโมสรฟุตบอลในลีกพรีเมียร์ลีกอังกฤษ ตั้งอยู่ในเมืองแมนเชสเตอร์ ก่อตั้งเมื่อ พ.ศ. 2423 ในชื่อ เซนต์มากส์ (เวสต์กอร์ตัน) และต่อมาได้เปลี่ยนชื่อเป็น สโมสรฟุตบอลอาร์ดวิก ในปี พ.ศ. 2430 และชื่อล่าสุดคือ แมนเชสเตอร์ซิตี ในปี พ.ศ. 2437 โดยใช้ สนามกีฬาซิตีออฟแมนเชสเตอร์ เป็นสนามเหย้าตั้งแต่ พ.ศ. 2546 ซึ่งก่อนหน้านั้นได้ใช้สนาม เมนโรด เป็นสนามเหย้าตั้งแต่ปี พ.ศ. 2466
                    <br> ชื่อเต็ม	สโมสรฟุตบอลแมนเชสเตอร์ซิตี
                    <br>  ฉายา	เรือใบสีฟ้า (ไทย), ซิตี, เดอะซิติเซน
                    <br>  ก่อตั้ง	1880; 139 ปีที่แล้ว ในชื่อ เซนต์มากส์ (เวสต์กอร์ตัน)
                    <br>  16 เมษายน 1894; 125 ปีก่อน ในชื่อ แมนเชสเตอร์ซิตี
                    <br>  สนาม	สนามกีฬาซิตีออฟแมนเชสเตอร์
                    <br>  ความจุ	55,017[1]
                    <br>  เจ้าของ	ซิตีฟุตบอลกรุป
                    <br>  ประธาน	คัลดูน อัล มูบารัค
                    <br>  ผู้จัดการ	เปป กวาร์ดิโอลา
                    <br>  ลีก	พรีเมียร์ลีก
                    <br>  2018–19	พรีเมียร์ลีก อันดับที่ 1
                </p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 5 -->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-labelledby="portfolioModal5Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Manchester United</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="static/img/portfolio/manu.png" alt="">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">สโมสรฟุตบอลแมนเชสเตอร์ยูไนเต็ด (อังกฤษ: Manchester United Football Club) เป็นสโมสรฟุตบอลที่มีชื่อเสียงของอังกฤษ มีที่ตั้งอยู่ที่โอลด์แทรฟฟอร์ดในเมืองแมนเชสเตอร์ ปัจจุบันเล่นอยู่ในพรีเมียร์ลีก ลีกสูงสุดในระบบลีกฟุตบอลอังกฤษ สโมสรก่อตั้งในชื่อ สโมสรฟุตบอลนิวตันฮีตแอลวายอาร์ เมื่อปี ค.ศ. 1878 จากนั้นเปลี่ยนชื่อมาเป็น แมนเชสเตอร์ยูไนเต็ด เมื่อปี ค.ศ. 1902 และย้ายไปเล่นในสนามปัจจุบันคือโอลด์แทรฟฟอร์ด เมื่อปี ค.ศ. 1910
                    <br> ชื่อเต็ม	สโมสรฟุตบอลแมนเชสเตอร์ยูไนเต็ด
                    <br> ฉายา	ปีศาจแดง
                    <br> ผีแดง (ในภาษาไทย)
                    <br> ก่อตั้ง	1878; 141 ปีที่แล้ว ในชื่อ สโมสรฟุตบอลนิวตันฮีตแอลวายอาร์
                    <br> 1902; 117 ปีที่แล้ว ในชื่อ สโมสรฟุตบอลแมนเชสเตอร์ยูไนเต็ด
                    <br> สนาม	โอลด์แทรฟฟอร์ด
                    <br> ความจุ	74,879[1]
                    <br> เจ้าของ	บริษัท แมนเชสเตอร์ยูไนเต็ด จำกัด (มหาชน) (NYSE: MANU)
                    <br> ประธานร่วม	โจเอล และ อัฟราม เกลเซอร์
                    <br> ผู้จัดการ	อูเลอ กึนนาร์ ซูลแชร์
                    <br> ลีก	พรีเมียร์ลีก
                    <br> 2018−19	พรีเมียร์ลีก, อันดับที่ 6
                </p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 6 -->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-labelledby="portfolioModal6Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Tottenham Hotspur </h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="static/img/portfolio/tot.jpg" alt="">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">สโมสรฟุตบอลท็อตแน่ม ฮ็อตสเปอร์ (อังกฤษ: Tottenham Hotspur F.C.) เป็นสโมสรฟุตบอลอังกฤษซึ่งอยู่ในพรีเมียร์ลีกรู้จักในนามสั้น ๆ ว่า "สเปอส์" (Spurs) และแฟนคลับของสโมสรเรียกว่า "ยิดอาร์มี" (Yid Army) อันหมายถึง ชาวยิว อันเนื่องจากแฟนคลับแต่ดั้งเดิมของสโมสรเป็นชาวยิวที่ตั้งรกรากในกรุงลอนดอนตอนเหนือ ซึ่งเป็นที่ตั้งสโมสร[1] เป็นอีกหนึ่งสโมสรที่มีความยิ่งใหญ่และตำนานอันยาวนานในเกาะอังกฤษ เป็นคู่ปรับร่วมกรุงลอนดอน กับ เชลซี และ อาร์เซนอล เคยเป็นแชมป์ลีกสูงสุดถึง 2 สมัย
                    <br>ฉายา	สเปอร์, The Lilywhites
                    <br>ไก่เดือยทอง (ไทย)
                    <br>ก่อตั้ง	ค.ศ. 1882(ในชื่อ "สโมสรฟุตบอลฮอตสเปอร์)
                    <br>สนาม	สนามกีฬาทอตนัมฮอตสเปอร์
                    <br>ความจุ	62,062
                    <br>เจ้าของ	อีเอ็นไอซีกรุ๊ป
                    <br>ประธาน	แดเนียล เลวี
                    <br>ผู้จัดการ	เมาริซิโอ โปเชติโน
                    <br>ลีก	พรีเมียร์ลีก
                    <br> 2018−19	พรีเมียร์ลีก อันดับที่ 4
                </p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->

  {% load static %}
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/freelancer.min.js' %}"></script>


</body>

</html>
